.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header>* {
  margin: 1rem 2rem;
}

.menu {
  display: flex;
  gap: 2rem;
  margin: 1rem 2rem;
}

.func {
  display: flex;
  gap: 2rem;
  margin: 1rem 2rem;
}

.ham {
  display: none;
  z-index: 999;
  color: white;
  cursor: pointer;
  position: relative;
}

.ham:hover {
  color: gray;
}

@media (max-width: 1000px) {
  .func {
    display: none;
  }

  .ham {
    display: inline-block;
  }

  .content.open {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    z-index: 99;
  }

  .content.open .func,
  .content.open .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content.open .func>*,
  .content.open .menu>* {
    border: 1px solid gray;
    text-align: center;
    width: 145%;
    padding: 0.5rem 2rem;
    border-radius: 1rem;

  }

}

@media (max-width: 700px) {
  .menu {
    display: none;
  }

  .content.open {
    width: calc(100% - 2rem);
    height: 70%;
    margin-top: 50%;
  }
}