.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

.header > * {
  display: flex;
  gap: 2rem;
  margin: 1rem 2rem;
}

.ham {
  display: none;
  z-index: 10;
  color: white;
  cursor: pointer;
}
.ham:hover {
  color: gray;
}

@media (max-width: 1000px) {
  .func {
    display: none;
  }
  .ham {
    display: inline-block;
  }
}

@media (max-width: 700px) {
  .menu {
    display: none;
  }
}
