* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

main,
section,
header {
  max-width: 1200px;
  width: calc(100% - 2rem);
  margin: auto;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.swiper {
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  padding: 0.2rem 1rem;
  border-radius: 20px;
  color: black;
  position: absolute;
  top: 35%;
  z-index: 10;
  height: 80px;
  cursor: pointer;
}
.swiper-button-next {
  left: 95%;
}
.swiper-button-prev:after {
  content: '<';
  font-size: 4rem !important;
  font-weight: 600 !important;
}
.swiper-button-next:after {
  content: '>';
  font-size: 4rem !important;
  font-weight: 600 !important;
}
